@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    overflow: unset;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}


/* Dark Mode Styles */
body.dark-theme {
    background-color: rgb(0, 0, 33);
    color: #f5f5f5;
}  

.glow {
    animation: glowing 3s infinite;
}

/* Nav Bar */
nav .left {
    font-family: 'Kaushan Script', cursive;
}

nav {
    display: flex;
    position:fixed;
    top: 0;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgb(15, 15, 70);
}
nav h1{
    color: aliceblue;
}
nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fffdfd;
    font: 1.3em sans-serif;
    transition: color 0.3s, border-bottom 0.3s;
}

nav ul li a:hover {
    color: rgb(0, 255, 234);
    font-size: 1.3rem;
    border-radius: 15px;
    padding: 6px;
    background-color: #000;
}

nav #theme-toggle{
    font-size: 2.3rem;
    cursor: pointer;
    display: contents;
}
/* ------------- Main Menu --------------------*/
main hr {
    border: 0;
    background: #665ff0;
    height: 1.2px;
    margin: 2rem 1rem;
}

.left {
    font-size: 1.5rem;
}

/* ---------------------- First Section --------------------- */
.section {
    padding:0 10vw;
    margin: auto;
}
h1 {
    font-size: 2.3rem;
    text-shadow:  10px 10px 5px rgb(59, 59, 173); 
}


.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10rem 0 0 0;
    height: 80vh;
}

.firstSection>div{
    width: 35%;
}

.leftSection {
    font-size: 3rem;
    text-align: center;
}

.leftSection .buttons {
    padding: 50px 0;
}

.leftSection .btn {
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

.rightSection img {
    width: 100%;
}
.rightSection .image-container .hover-image {
    display: none;
}
.rightSection .image-container:hover .default-image {
    display: none;
    transform: translateX(-100%) rotateY(180deg);
}

.rightSection .image-container:hover .hover-image {
    display: block;
    /* display: none; */
    border-radius: 20%;
    overflow: hidden;
}



.purple {
    color: rgb(177, 101, 249);
}

#element {
    color: rgb(177, 101, 249);
}

/* ------------------------------ Second Section ------------------------------ */
.secondSection{
    height: 105vh;
}
.secondSection hr{
    width: 150%;
    margin: 50px 0;
}
.secondSection .box{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    font-size: 1rem;
}
.secondSection .min-box{
    margin-left: 5vw;
}
.min-box li{
    list-style: none;
}
.secondSection .skill{
    display: flex;
}
.secondSection .rightSection img{
    width: 50%;
    margin: 10vh 0 0 35vw;
}
.secondSection .box img {
    width: 50px;
    height: 50px;
}

.text-gray {
    color: grey;
}

/* ------------------------------ fourth Section ------------------------------ */
.fourthSection .box {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.fourthSection .project{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin: 2rem 0;
}


/* Project Box Content */
.title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #1e2167;
}

.desc {
    font-size: 14px;
    color: #555;
    font-style: italic;
    margin-bottom: 15px;
}

.technologies {
    margin-bottom: 10px;
}

.technologies span {
    font-weight: bold;
    color: #000;
}

.technologies ul {
    list-style: none;
    font-family: cursive;
    color: darkcyan;
    margin: 0;
    padding: 0;
}

.technologies li {
    display: inline-block;
    margin-right: 10px;
}

.role {
    margin-bottom: 10px;
    color: #000;
}

.role span {
    font-weight: bold;
    color: #000;
}

/* Demo Links */
.demo-links a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}



/*------------------------- Footer ----------------- */
footer {
    background-color: rgb(19, 22, 44);
    height: 233px;
    color: white;
}

.footer {
    display: flex;
    padding: 0.8rem;
    justify-content: center;
    align-items: center;
}

.footer-second img {
    width: 8%;
    padding: 1rem ;
}

.footer>div {
    width: 30%;
}

.footer-rights {
    text-align: center;
    color: grey;
    padding: 1rem;
}

.contact-info {
    margin-top: 20px;
    color: #666; /* Text color */
    font-size: 16px;
    line-height: 1.6;
}



/* ------------------------- Media screen ------------------------ */
@media screen and (max-width : 1400px) {
    h1{
        margin-top: 1rem;
        font-size: 2rem;
    }
    body {
        /* background-color: red; */
        min-width: fit-content;
    }

    .typed-cursor{
        color: #000;
        display:none;
    }

    #element{
        height: 2rem;
    }


    nav {
        /* flex-direction: column; */
        height: 90px;
    }
    nav .left{
        display: none;
    }
    nav li{
        margin: 25px 7px !important;
    }
    nav ul li a {
        padding: 6px;
        background: rgb(76, 0, 147);
        border-radius: 15px;
    }

    .thirdSection {
        min-height: 1050px;
    }

    .thirdSection .vertical {
        height: unset;
    }

    .vertical-title,
    .vertical-desc {
        left: 45px;
    }

    .firstSection {
        flex-direction: column-reverse;
    }

    .leftSection {
        font-size: 2rem;
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .secondSection{
        min-height: fit-content;
    }
    .secondSection .leftSection, .min-box{
        width: 100%;
    }
    .secondSection hr{
        width: 80%;
    }

    .rightSection img {
        width: 80vw;
        margin-bottom: 20px;
    }

    .rightSection {
        width: 52% !important;
        display: flex;
        justify-content: center;
    }

    .image-top {
        top: 100px;
    }

    .footer {
        flex-direction: column;
    }

    .footer>div {
        text-align: center;
        width: 100%;
    }
    .secondSection .rightSection img{
        display: none;
    }

    .vertical-desc {
        width: 250px;
    }
}

@keyframes glowing {
    0% {
      box-shadow: 0 0 15px rgb(255, 1, 221);
    }
    50% {
      box-shadow: 0 0 100px rgb(200, 0, 43);
    }
    100% {
      box-shadow: 0 0 25px rgb(153, 1, 117);
    }
}
