@media only screen and (max-width: 600px) {
  .my-component {
    font-size: 14px;
  }
  .topHead{
    /* display: none; */
    font-size: 25px !important;
  }
  .navBar{
    width: 100vw !important;
  }
  .navhead{
    flex-direction: column;
  }
  .homesec {
    flex-direction: column-reverse;
  }
  .firstText{
    font-size: 20px !important;
    width: 100% !important;
  }
  .homesec a{
    
    font-size: 15px !important;
  }

   /* skill section */
  .skillImg{
    display: none !important;;
  }
  .skillCard{
    width: auto !important;
  }
  .skillMain{
    width: 95% !important;
  }


  .card{
    width: 100% !important;
  }
.card-img-top {
  width: 100% !important;
}


  /* .w-50 {
    width: 20% !important;
} */
}
